* {
  box-sizing: border-box;
}

/*Header section*/
.floaters {
  font-size: 150%;
  color: #990033;
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Copperplate, Papyrus', fantasy;
}

/*Style for the section earth*/
#earth {
  text-align: center;
}

/*Style for the description of mauritius*/
.dhanish {
  font-size: 140%;
  color: #6c757d;
  text-align: center;
  font-weight: lighter;
  padding-top: 4px;
  padding-bottom: 2px;
  font-family: 'Lucida Handwriting', cursive;
}

/*Style for the paragraph*/
.dhavish {
  font-size: 150%;
  color: #343a40;
  text-align: center;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: 'Garamond', serif;
}
